# Node modules (will be reinstalled inside the container)
node_modules
dist
.cache
.env
.env.local

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log
*.log

# OS / IDE / Editor files
.DS_Store
Thumbs.db
.vscode
.idea

# Git
.git
.gitignore

# Docker-related
Dockerfile
docker-compose.yml
.dockerignore

# Build artifacts
coverage
*.tsbuildinfo

# Other
test-results
